header {
    font-size: 48px; 
    color: white; 
    -moz-transform:translateX(100%);
    -webkit-transform:translateX(100%);	
    transform:translateX(100%);
    /* Apply animation to this element */	
    -moz-animation: example1 12S linear infinite;
    -webkit-animation: example1 12S linear infinite;
    animation: example1 12S linear infinite;
   }
   /* Move it (define the animation) */
   @-moz-keyframes example1 {
    0%   { -moz-transform: translateX(100%); }
    100% { -moz-transform: translateX(-100%); }
   }
   @-webkit-keyframes example1 {
    0%   { -webkit-transform: translateX(100%); }
    100% { -webkit-transform: translateX(-100%); }
   }
   @keyframes example1 {
    0%   { 
    -moz-transform: translateX(100%); /* Firefox bug fix */
    -webkit-transform: translateX(100%); /* Firefox bug fix */
    transform: translateX(100%); 		
    }
    100% { 
    -moz-transform: translateX(-100%); /* Firefox bug fix */
    -webkit-transform: translateX(-100%); /* Firefox bug fix */
    transform: translateX(-100%); 
    }
   }
   


.saveDeckName{
    color: white
}

a:hover{
    background-color: white;
}

.deckDisplay{
    display: flex; 
    flex-wrap: wrap; 
}

.CardSearch > div {
    color: white; 
    font-style: italic;  
    font-weight: 800; 
}
